# src/main/resources/application.yml
server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/simvex
    username: simvex
    password: simvexpw
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.hibernate.SQL: debug

management:
  endpoints:
    web:
      exposure:
        include: health,mappings

openai:
  api-key: ${OPENAI_API_KEY}

simvex:
  assets:
    import:
      enabled: true
      root: ${user.dir}/src/main/resources/static/assets/3d

